body {
  background: linear-gradient(45deg, #240165, #05001c);
  direction: rtl;
  font-family: "Tajawal", sans-serif;
}

#namedate-con {
  margin-top: 10px;
}

#name-con {
  color: white;
  margin-right: 40px;
}

#city-name {
  font-size: 100px;
  color: white;
  font-weight: 400;
}

#city-date {
  font-size: 20px;
  font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

hr {
  margin: 10px 50px;
  border-color: bisque;
}

.parnt-card {
  margin-top: 40px;
  height: 200px;
  display: flex;
  justify-content: space-around;
}

.card {
  width: 12%;
  height: 95%;
  background-color: white;
  font-size: 20px;
  box-shadow: 0px 10px 5px rgb(0 0 0 / 30%);
}

.header {
  background: linear-gradient(45deg, #5709ee, #7a37bf);
  color: white;
}

.header h1 {
  font-weight: 200;
  padding: 5px;
}

.center {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time {
  font-size: 50px;
}

.select-div {
  margin-top: 100px;
}

.change {
  width: 300px;
  height: 35px;
  font-size: 25px;
  font-family: "Tajawal", sans-serif;
  background: none;
  color: white;
  border-radius: 10px;
}

option {
  background: none;
  color: #37bf94;
}
